<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Players
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    
    <ion-title class="text-black">Jogadores Cadastrados</ion-title>

    <ion-card>

      <ion-row >
        <ion-col><b> NOME </b> </ion-col>
        <ion-col> Guilherme  </ion-col>
      </ion-row>

      <ion-row >
        <ion-col><b> EMAIL </b> </ion-col>
        <ion-col> Guilherme  </ion-col>
      </ion-row>

      <ion-row >
        <ion-col><b> TELEFONE </b> </ion-col>
        <ion-col> Guilherme  </ion-col>
      </ion-row>

      <ion-row >
        <ion-col><b> CODINOME </b> </ion-col>
        <ion-col> Guilherme  </ion-col>
      </ion-row>

      <ion-row >
        <ion-col><b> GRUPO </b> </ion-col>
        <ion-col> Guilherme  </ion-col>
      </ion-row>
      
    </ion-card>

   
  </ion-card>
</ion-content>
