HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Angular / Ionic ###
client/playersClient/*~
client/playersClient/*.sw[mnpcod]
client/playersClient/.tmp
client/playersClient/*.tmp
client/playersClient/*.tmp.*
client/playersClient/UserInterfaceState.xcuserstate
client/playersClient/$RECYCLE.BIN/
client/playersClient/*.log
client/playersClient/log.txt
client/playersClient/.sourcemaps
client/playersClient/.versions
client/playersClient/coverage
client/playersClient/.ionic
client/playersClient/www
client/playersClient/platforms
client/playersClient/plugins
client/playersClient/dist
client/playersClient/tmp
client/playersClient/out-tsc
client/playersClient/bazel-out
client/playersClient/node_modules
client/playersClient/npm-debug.log
client/playersClient/yarn-error.log
client/playersClient/.idea/
client/playersClient/.project
client/playersClient/.classpath
client/playersClient/.c9/
client/playersClient/*.launch
client/playersClient/.settings/
client/playersClient/*.sublime-project
client/playersClient/*.sublime-workspace
client/playersClient/.vscode/*
client/playersClient/!.vscode/settings.json
client/playersClient/!.vscode/tasks.json
client/playersClient/!.vscode/launch.json
client/playersClient/!.vscode/extensions.json
client/playersClient/.history/*
client/playersClient/.angular
client/playersClient/.angular/cache
client/playersClient/.sass-cache/
client/playersClient/connect.lock
client/playersClient/coverage
client/playersClient/libpeerconnection.log
client/playersClient/testem.log
client/playersClient/typings
client/playersClient/.DS_Store
client/playersClient/Thumbs.db