<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="shadow-xl p-4">

    <ion-list >
      <ion-item  class="text-xl"><p><b>CADASTRO DE JOGADORES UOL</b></p></ion-item>

      <ion-item class="text-sm mt-4">
        <ion-input label="Nome" labelPlacement="floating" placeholder="Digite o nome do jogador" class="mx-2"/>
      </ion-item>
      <ion-item class="text-sm">
        <ion-input label="Email" labelPlacement="floating" placeholder="Digite o email do jogador" class="mx-2"/>
      </ion-item>
      <ion-item class="text-sm">
        <ion-input label="Telefone" labelPlacement="floating" placeholder="Digite o telefone do jogador" class="mx-2"/>
      </ion-item>
      <ion-item class="mt-4"><p><b>Quero ser do grupo</b></p></ion-item>
      
      <ion-item>
        <ion-radio-group>
          <ion-radio>Liga da justiça</ion-radio> <br/>
          <ion-radio>Vingadores</ion-radio>
        </ion-radio-group>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-row class="justify-center">
      <ion-button>Cadastrar</ion-button>
  </ion-row>




</ion-content>


  <!-- <ion-grid class="text-center">
    <ion-header>Jogadores Cadastrados</ion-header>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>1</ion-col>
      <ion-col>1</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>1</ion-col>
      <ion-col>1</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>1</ion-col>
      <ion-col>1</ion-col>
    </ion-row>
    
  </ion-grid> -->
